.lead {
    width: 984px;
    /* max-width: 100%; */
    /* min-height: 1005px; */
    margin: 56px auto 0;
}

@media screen and (max-width: 1140px) {
    .lead {
        margin: 48px auto 0;
        width: 928px;
        /* min-height: 962px; */
    }

}

@media screen and (max-width: 984px) {
    .lead {
        width: 100%;
        /* margin: 48px 0 0; */
        /* max-width: 768px; */
        /* min-height: 862px; */
    }
}

/* @media screen and (max-width: 568px) { */
    /* .lead { */
        /* margin: 48px 0 0; */
        /* max-width: 320px; */
        /* min-height: 406px; */
    /* } */
/* } */
