.cover__subtitle {
    width: 360px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 245px;
}


@media screen and (max-width: 1140px) {
    .cover__subtitle {
        margin-bottom: 195px;
    }
}

@media screen and (max-width: 984px) {
    .cover__subtitle {
        margin-bottom: 115px;
    }
}

@media screen and (max-width: 568px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 270px;
        margin-bottom: 33px;

    }
}