.cover {
    width: 1184px;
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* min-height: 740px; */
    margin: 0 auto;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.cover::before {
    content: '';
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    z-index: -1;
}

.cover:hover::before {
    opacity: 0.5;
    transition: 0.5s;
}

@media screen and (max-width: 1140px) {
    .cover {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        /* min-height: 640px; */
    }
}

/* @media screen and (max-width: 984px) { */
    /* .cover { */
        /* min-width: 768px; */
        /* min-height: 480px; */
    /* } */
/* } */

/* @media screen and (max-width: 568px) { */
    /* .cover { */
        /* width: 100%; */
        /* min-height: 200px; */
    /* } */
/* } */