.cover__title {
    width: 560px;
    font-family: 'Inter', "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 245px auto 32px;
}

@media screen and (max-width: 1140px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media screen and (max-width: 984px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media screen and (max-width: 568px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-top: 33px;
        width: 250px;
        margin-bottom: 16px;
    }
}